//THEMES
//DARK
$dark-primary: #1E1E2f;
$dark-secondary: #1D1D23;
//DARK
$gray-primary: #e6e6e6;
$gray-secondary: #23C1CC;

//Dark
$dark: linear-gradient(#1e1e2f, #1e1e24);
$gray: linear-gradient(#E6E6E6, #9A9A9A);
$blue: linear-gradient(#1953b0, #0b2f6b);
$white: #F5F6FA;


$primary-color: #B11116;
$primary-dark-color: #580707;
$primary-light-color: #f61e1e;

$secondary-color: #4d4f5c;
$secondary-dark-color: #222329;
$secondary-light-color: #787b8f;
$accent-color: #d48a29;
$accent-dark-color: #805318;
$accent-light-color: #ffff00;
$separator-color: #cbcbce;
$danger-color: rgb(207, 68, 68);

$color-red: #B11116;
$color-yellow: #ffff00;
$color-primary: #4d4f5c;
$color-gold: #B11116;
$color-black: black;
$color-white: white;
$color-green: #53C457;

$color-bg: white;
$color-txt: black;

$light-gray:                 #E3E3E3;
$medium-gray:                #DDDDDD;
$dark-gray:                  #9A9A9A;
$active-gray:                #777777;
$card-stats-gray:            #808080;

//Z-indexes

$z-index-level-0:   0; 
$z-index-level-1:   1; 
$z-index-level-2:   2; 
$z-index-level-3:   3; 
$z-index-level-4:   4; 
$z-index-level-5:   5; 
$z-index-level-6:   6; 
$z-index-level-7:   7; 
$z-index-level-8:   8; 
$z-index-level-9:   9; 
$z-index-level-10: 10; 
$z-index-level-11: 11; 

//OPACITY
$opacity-5:                  rgba(255,255,255, .5);
$opacity-6:                  rgba(255,255,255, .6);
$opacity-8:                  rgba(255,255,255, .8);

//-------------------//
//       FONTS       //
//-------------------//
// Utilizado em títulos, textos, etc
$font1: 'Poppins', sans-serif;
$max-width: 1200px;
