 .sideMenu{
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    height: calc(100vh - 90px);
    width: 50px;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 80px;
    border-radius: 5px;
    @include respond-to('small'){
        width: 230px;
    }
    .link{
        @extend %border-radius;
        position: relative;
        @include transition(0.2s);
        font-size: 12px;
        margin: 7px 8px 0;
        &:last-child{
            white-space: nowrap;
            padding: 16px 8px;
            visibility: hidden;
            cursor: pointer;
        }
        a{
            display: block;
            padding: 16px 8px;
            text-transform: uppercase;
            font-family: $font1;
            text-decoration: none;
            visibility: hidden;
            white-space: nowrap;
        }
        i{
            margin-right: 15px;
            visibility: visible;
            font-size: 15px;
        }
        @include respond-to('small'){
            margin: 10px 15px 0;
            &:last-child{
                visibility: visible;
            }
            a{
                visibility: visible;
            }
        }
    }
}