//THEMES
.card{
    @extend %border-radius;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.13);
    &.dark{
        background: #27293D;
    }
    &.blue{
        background: #AFAFAF;
        color: #fff
    }
    &.gray{
        background: #fff;
    }
}