.select-date{
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    select{
        padding: 8px 15px;
        width: 110px;
        border: none;
        @extend %border-radius;
        &:focus{
            @extend %remove-focus
        }
    }
    .ano{
        font-weight: bold;
    }
}

.select-text{
    margin-top: 3rem;
    font-family: $font1;
}